[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eventlet = "*"
flask = "*"
serial = "*"
flask-login = "*"
flask-assets = "*"
influxdb = "*"
adafruit-circuitpython-ds3502 = "*"
dotmap = "*"
flask-socketio = "*"
pyscss = "*"
jsmin = "*"

[dev-packages]

[requires]
python_version = "3.9"
