<!DOCTYPE html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    
    {% assets 'js_all' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <!-- <link rel="stylesheet" type="text/css" href="static/style.scss" /> -->
    {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}

    <script id="sensor_template" type="x-tmpl-mustache">
        <div class="block">
            <div class="number_display" id="{{ id }}">-</div>
            <div class="number_display unit"> {{ unit }}</div>
            <div>{{ display_name }}</div>
        </div>
    </script>
</head>

<body>
    <div class="main_container">
        <div class="logo_title">
            <img src="/static/img/logo.svg" class="logo">
            <span>Muro Steuerung</span>
        </div>
        <div id="sensor_data" class="sensor_data">
        </div>

        <div class="switchbuttons block">
            <label for="mode_off">
                <input type="radio" name="muro_mode" class="mode_button" id="mode_off" onclick="mode_change('off')">
                <span>Aus</span>
            </label>

            <label for="mode_koji">
                <input type="radio" name="muro_mode" class="mode_button" id="mode_koji" onclick="mode_change('koji')">
                <span>Kojimodus</span>
            </label>

            <label for="mode_drying">
                <input type="radio" name="muro_mode" class="mode_button" id="mode_drying"
                    onclick="mode_change('drying')">
                <span>Trockenmodus</span>
            </label>
            <label for="mode_manual">
                <input type="radio" name="muro_mode" class="mode_button" id="mode_manual"
                    onclick="mode_change('manual')">
                <span>Manuell</span>
            </label>
        </div>

        <div class="container">
            <div class="setting_container">
                <div class="setting">
                    <label for="target_temp">Muro Temperatur Ziel</label>
                    <input id="target_temp" name="target_temp" type="number" min="20" step="0.5" max="40" value="31"
                        onchange="target_temp_change()" />
                </div>
                <div class="setting">
                    <label for="koji_max_temp">Maximale Koji Temperatur</label>
                    <input id="koji_max_temp" name="koji_max_temp" type="number" min="20" step="0.5" max="40" value="35"
                    onchange="koji_max_temp_change()" />
                </div>
                <div class="setting">
                    <label for="koji_min_temp">Ziel Koji Temperatur</label>
                    <input id="koji_min_temp" name="koji_min_temp" type="number" min="20" step="0.5" max="40" value="35"
                        onchange="koji_min_temp_change()" />
                </div>
                <div class="setting">
                    <label for="target_hum">Luftfeuchtigkeit Ziel</label>
                    <input id="target_hum" name="target_hum" type="number" min="0" step="1" max="100" value="89"
                        onchange="target_hum_change()" />
                </div>
                <div class="setting">
                    <label for="heater_lock">Heizung Sperre</label>
                    <input type="checkbox" name="heater_lock" id="heater_lock" onchange="heater_lock_change()" />
                </div>
            </div>

            <!-- <div class="setting_container">
            </div> -->

            <div class="machine_container">
                {% for id, machine in machines.items() %}
                <div class="machine">
                    <label for="{{ id }}" class="switch">
                        <input id="{{ id }}" type="checkbox" onclick="toggle_device('{{ id }}')">
                        <div class="slider round"></div>
                    </label>
                    <span>{{ machine["display_name"] }}</span>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="logout"><a href="/logout">Logout</a></div>
    </div>
</body>

</html>