<!DOCTYPE html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>


    {% assets 'js_all' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <!-- <link rel="stylesheet" type="text/css" href="static/style.scss" /> -->
    {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}

    <script id="sensor_template" type="x-tmpl-mustache">
        {% raw %}
        <div class="block">
            <div class="number_display" id="{{ id }}_val">-</div>
            <div class="number_display unit"> {{ unit }}</div>
            <div>{{ name }}</div>
        </div>
        {% endraw %}
    </script>
    <script id="mode_template" type="x-tmpl-mustache">
        {% raw %}
        <label for="mode_{{ id }}">
            <input type="radio" name="muro_mode" class="mode_button" id="mode_{{ id }}" onclick=mode_change('{{ id }}')>
            <span>{{ name }}</span>
        </label>
        {% endraw %}
    </script>
    <script id="device_template" type="x-tmpl-mustache">
        {% raw %}
        <div class="device">
            <label for="{{ id }}" class="switch">
                <input id="{{ id }}" type="checkbox" onclick="toggle_device('{{ id }}')">
                <div class="slider round"></div>
            </label>
            <span>{{ name }}</span>
        </div>
        {% endraw %}
    </script>
    <script id="setting_template" type="x-tmpl-mustache">
        {% raw %}
        <div class="setting">
            <label for="{{ id }}">{{ display_name }}</label>
            <input 
                id="{{ id }}" 
                name="{{ id }}" 
                type="{{ type }}" 
                min="{{min}}" 
                max="{{max}}" 
                step="{{step}}"
                value="{{val}}"
                onchange="on_setting_changed('{{id}}')"
                {% endraw %}
                {% if _type == "checkbox" and val == True %}
                    checked
                {% endif %}
                
                />
        </div>
    </script>

</head>

<body>
    <div class="main_container">
        <div class="header">
            <div class="logo_title">
                <img src="/static/img/logo.svg" class="logo">
                <span>Muro Steuerung</span>
            </div>
        </div>
        <div id="sensor_container" class="sensor_data">
        </div>

        <div id="mode_container" class="switchbuttons block">
        </div>

        <div class="container">
            <div id="setting_container" class="setting_container">
            </div>
            <div id="device_container" class="device_container">
            </div>
        </div>

        <div class="logout"><a href="/logout">Logout</a></div>
    </div>
</body>

</html>